{% extends 'base.html.twig' %}

{% block title %}EDV kontaktieren{% endblock %}

{% block body %}
<style>
</style>
	<div class="form-group row" style="position:relative;top:90px; ">
		<div class="col-sm-5"></div>				
		<div class="col-sm-2">
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title" style="text-align: center; font-weight: bold;">Ups...</h5>
					<p class="card-text"style="text-align: center;">Leider wurde diese Funktion noch nicht eingearbeitet.</br>Um die EDV zu kontaktieren, schreiben Sie bitte eine E-Mail an IT@kohlschein.de</p>
					<a href="menu" class="btn btn-primary">Zurück zum Menü</a>
				</div>
			</div> 
		<div class="col-sm-5"></div>							
	</div>
{% endblock %}
