{% extends 'base.html.twig' %}

{% block title %}Benutzerverwaltung{% endblock %}
{% block head %}

{% endblock %}
{% block body %}
	<style>
		.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
		.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
	</style> 
	{% include('sidebar.html.twig') %}
				<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
					<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
						<h1 class="h2">Benutzerverwaltung</h1>
						<div class="btn-toolbar mb-2 mb-md-0">
							<div class="btn-group mr-2"></div>
						</div>
					</div>
					<div class="table-responsive">
						<table class="table table-striped table-sm">
							<thead>
								<tr>
									<th style="width: 0.1%">ID</th>
									<th style="width: 0.3%">Usernummer</th>
									<th style="width: 0.3%">Username</th>
									<th style="width: 0.2%">Andere</th>
									<th style="width: 0.9%">Vorname</th>
									<th style="width: 0.9%">Nachname</th>
									<th style="width: 0.7%">Abteilung</th>
									<th style="width: 3.0%">E-Mail</th>
									<th style="width: 0.3%">Aktiviert</th>
									<th style="width: 0.8%">Login Zähler</th>	
									<th style="width: 0.1%"></th>
									<th style="width: 0.1%"></th>
								</tr>
							</thead>
							<tbody>
			
							</tbody>
						</table>
					</div>
				</main>
			</div> <!-- Diese 3 DIV sollen bleiben, siehe /sidebar.hatml.twig -->
		</div>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
	</div>
{% endblock %}