<!DOCTYPE html>
<html>
	<body>
		<div class="container-fluid">
			<div class="row">
				<nav class="col-md-2 d-none d-md-block bg-dark sidebar" style="height:960px;">
					<div class="sidebar-sticky ">
						<ul class="nav flex-column">
						  <li class="nav-item">
							<a class="nav-link active" href="benutzeruebersicht">
							  <i class="material-icons" style="vertical-align: text-top;">home</i>
							  Benutzerübersicht <span class="sr-only">(current)</span>
							</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" href="benutzerverwaltung">
							  <i class="material-icons" style="vertical-align: text-top;">people</i>
							  Benutzer verwalten
							</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" href="register">
							  <i class="material-icons" style="vertical-align: text-top;">perm_identity</i>
							  Neuen Benutzer anlegen
							</a>
						  </li> 
						  <li>
							<hr/> <!-- ----------------------------------------------------------------------------- -->
						  </li>
						  <li class="nav-item">
							<a class="nav-link" href="#">
							  <i class="material-icons" style="vertical-align: text-top;">speaker_notes</i>
							  Ticket-System (?)
							</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" href="#">
							  <i class="material-icons" style="vertical-align: text-top;">storage</i>
							  Dokumentation (?)
							</a>
						  </li>
						</ul>
					</div>
				</nav>
	</body>
</html>