{% extends 'base.html.twig' %}


    {% block title %}Dashboard{% endblock title %}

{% block body %}
  </br>
<div class="card text-center">
	<div class="card-header">
		<h2>Dashboard</h2>
	</div>
	<div class="card-body">
		<h5 class="card-title">Nicht verfügbar!</h5>
		<p class="card-text">Leider ist das Dashboar noch nicht verfügbar. Keine sorge wir arbeiten dran!</p>
		<p class="card-text">Bei Fragen oder Anmerkungen bitte melden Sie sich an IT@kohlschein.de</p>	
		<a href="#" class="btn btn-danger disabled">Zeitreise zur fertigen Seite!</a>
	</div>
	<div class="card-footer text-muted">
	</div>
</div>  
{% endblock %}